<div id="about-us" class="popup-container zoom-anim-dialog mfp-hide">
    <h2>About Us</h2>
    <p>
    	You're in! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. Go ahead and edit this post to get going and learn how it all works! Getting Started Writing in markdown is really easy.
    </p>
    <p>
    	This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.
    </p>
</div>