<div id="contact-us" class="popup-container zoom-anim-dialog mfp-hide">
    <h2>Contact Us</h2>
	<ul class="vcard">
		<li>
			<span class="vcard-icon"><i class="fa fa-home"></i></span>
			<span class="vcard-text">677 Tan Son Street, Ho Chi Minh, VN</span>
		</li>
		<li>
			<span class="vcard-icon"><i class="fa fa-phone"></i></span>
			<span class="vcard-text">(+84) 909 53 6892</span>
		</li>
		<li>
			<span class="vcard-icon"><i class="fa fa-envelope"></i></span>
			<span class="vcard-text">info@yourdomain.com</span>
		</li>
	</ul>
</div>