<div class="post-meta clearfix">
    <span class="time pull-left">
        <i class="fa fa-calendar"></i> {{date published_at timeago="true"}}
    </span>
    <span class="comment pull-right">
        {{!>facebook-comment-count}}
        {{!>googleplus-comment-count}}
        {{>disqus-comment-count}}
    </span>
</div>