<div id="newsletter" class="popup-container zoom-anim-dialog mfp-hide">
    <h2>Newsletter</h2>
	<p>
		Sign up to receive email updates and to hear what's going on with me!
	</p>
	<form id="mc-form" action="http://sunflowertheme.us5.list-manage.com/subscribe/post?u=7e0a4b0ce5fd160742dc568d3&amp;id=e957c365b2" method="post" novalidate="true">
		<div class="input-group">
			<input id="mc-email" type="email" name="EMAIL" placeholder="Email address" class="form-control" required >
	      	<span class="input-group-btn">
	        	<button class="btn btn-theme" type="submit"><i class="fa fa-long-arrow-right"></i></button>
	      	</span>
	    </div>
	</form>
</div>