<div class="widget">
	<h3 class="widget-title">Recent Posts</h3>
	<div class="widget-content">
		<div class="recent-post" data-size="5" data-desc="true" data-pubdate="true" data-character-limit="50">
		</div>
	</div>
</div>