<div class="widget">
	<h3 class="widget-title">Flickr Stream</h3>
	<div class="widget-content">
		<ul class="flickr-feed" data-mode="gallery" data-size="12" data-popup-preview="true">
		</ul>
	</div>
</div>