<div class="widget">
	<h3 class="widget-title">Instagram Stream</h3>
	<div class="widget-content">
		<ul class="instagram-feed" data-mode="gallery" data-display="12" data-popup-preview="true">
		</ul>
	</div>
</div>