{{! Style Switcher }}
<div id="style-switcher">
    <div class="switcher-button"><i class="fa fa-cog"></i></div>
    <div class="switcher-setting">
        <div class="switcher-title">Color Scheme</div>
        <div class="switcher-content">
            <ul>
                <li><a href="javascript:chooseStyle('default', 60)" class="switcher-default" title="Default"></a></li>
                <li><a href="javascript:chooseStyle('green', 60)" class="switcher-green" title="Green"></a></li>
                <li><a href="javascript:chooseStyle('red', 60)" class="switcher-red" title="Red"></a></li>
                <li><a href="javascript:chooseStyle('purple', 60)" class="switcher-purple" title="Purple"></a></li>
                <li><a href="javascript:chooseStyle('blue-ocean', 60)" class="switcher-blue-ocean" title="Blue Ocean"></a></li>
                <li><a href="javascript:chooseStyle('black', 60)" class="switcher-black" title="Black"></a></li>
                <li><a href="javascript:chooseStyle('orange', 60)" class="switcher-orange" title="Orange"></a></li>
                <li><a href="javascript:chooseStyle('blue', 60)" class="switcher-blue" title="Blue"></a></li>
                <li><a href="javascript:chooseStyle('yellow', 60)" class="switcher-yellow" title="Yellow"></a></li>
                <li><a href="javascript:chooseStyle('maroon', 60)" class="switcher-maroon" title="Maroon"></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="switcher-title">Choose Background</div>
        <div class="switcher-content">
            <ul>
                <li><a href="javascript:chooseStyle2('bg_default', 60)" class="switcher-bgdefault"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern1', 60)" class="switcher-bgpattern1"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern2', 60)" class="switcher-bgpattern2"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern3', 60)" class="switcher-bgpattern3"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern4', 60)" class="switcher-bgpattern4"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern5', 60)" class="switcher-bgpattern5"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern6', 60)" class="switcher-bgpattern6"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern7', 60)" class="switcher-bgpattern7"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern8', 60)" class="switcher-bgpattern8"></a></li>
                <li><a href="javascript:chooseStyle2('bg_pattern9', 60)" class="switcher-bgpattern9"></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        
        <div class="switcher-title">Background Header</div>
        <div class="switcher-content">
            <ul>
                <li><a href="javascript:chooseStyle3('bg_header_default', 60)" class="switcher-bg-header-default"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_green', 60)" class="switcher-bg-header-green"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_blue', 60)" class="switcher-bg-header-blue"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_red', 60)" class="switcher-bg-header-red"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_purple', 60)" class="switcher-bg-header-purple"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_maroon', 60)" class="switcher-bg-header-maroon"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_orange', 60)" class="switcher-bg-header-orange"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_blue_ocean', 60)" class="switcher-bg-header-blue-ocean"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_green_light', 60)" class="switcher-bg-header-green"></a></li>
                <li><a href="javascript:chooseStyle3('bg_header_yellow', 60)" class="switcher-bg-header-yellow"></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <a href="javascript:chooseStyle2('nopattern', 60)" class="nobg">Don't Use Background</a>

        <div class="switcher-sidebar">
            <ul>
                <li><a href="#" class="left-sidebar">Left Sidebar</a></li>
                <li><a href="#" class="right-sidebar">Right Sidebar</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>