{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Follow me</div>
    </div>
    <div class="mantanization-widget-menu-custom-content">
        <div class="mantanization-widget-socialmedia">
            <ul>
                {{> socialmedia}}
				<li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Recent Posts</div>
    </div>
    <div class="mantanization-widget-menu-custom-content">
        <div id="mantanization-widget-recent-posts-wrapper"></div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Flickr Stream</div>
    </div>
    <div class="mantanization-widget-menu-custom-content">
        <ul id="flickr"></ul>
        <div class="clearfix"></div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Facebook Page</div>
    </div>
    <div class="mantanization-widget-menu-custom-content"><div id="mantanization-facebook-page"></div></div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Twitter Feed</div>
    </div>
    <div class="mantanization-widget-menu-custom-content"><div id="mantanization-wdiget-twitter"></div></div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Google+ Badge</div>
    </div>
    <div class="mantanization-widget-menu-custom-content"><div class="g-page-wrapper"></div></div>
</div>
{{! WIDGET }}

{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Static Page</div>
    </div>
    <div class="mantanization-widget-menu-custom-content">
        <div class="extra-widget">
            <ul>
				<li><a href="http://mantanization-lcghoster.rhcloud.com/about-me">About Me</a></li>
				<li><a href="#">My Stuff</a></li>
				<li><a href="#">Contact</a></li>
			</li>
        </div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu-custom">
    <div class="mantanization-widget-menu-custom-title">
        <div class="title-block">Extra Widget</div>
    </div>
    <div class="mantanization-widget-menu-custom-content">
        <div class="extra-widget">
            <!-- You can put HTML Code Here -->
            Aliquam eget arcu nec nisl <em>imperdiet</em> semper mollis sit amet tortor. 
            Ut ultrices pharetra urna id cursus. 
            <a href="#">Aenean</a> ligula dolor, mollis id eros id, 
            hendrerit malesuada nisi.
        </div>
    </div>
</div>
{{! WIDGET }}